#upload {
  flex-grow: 10;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  width: calc(100vw - 20px);
  display: flex;

  .upload-file-list {
    height: 80%;
    border-radius: 5px;
    flex-grow: 14;
    overflow-y: auto;

    .waiting,
    .done {
      margin-right: 10px;
      font-size: var(--font-size-8);
    }

    .done {
      color: var(--color-success);
    }

    .speed {
      width: 64px;
    }

    .list {
      width: inherit;
      padding: 0 5px;

      &-item {
        position: relative;
      }
    }
  }

  .submit-button {
    margin-top: 5px;
    flex-grow: 1;
  }

  .empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.success {
  color: #fff;
}
