.float-button {
  button {
    box-shadow:
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
  }

  &:not(.group-item) {
    position: fixed;
    right: var(--right);
    bottom: var(--bottom);
  }

  &:is(.group-item):not(:first-child) {
    margin-top: 5px;
  }

  &-group {
    position: fixed;
    right: var(--right);
    bottom: var(--bottom);
  }
}
