.row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;

  &>div {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 30px;
    color: var(--color-text);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
