$class-name: "alley-button";

.#{$class-name} {
  --filter-scale: 1;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-backgroud);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--color-button-text);
  display: flex;
  justify-content: center;
  align-items: center;
  // 强制浏览器提前渲染 filter 属性, 防止 transition 中 filter 与 transform 一起使用时不生效
  will-change: filter;

  &:not(.disabled):hover {
    border-color: var(--color-button-hover);
    color: var(--color-hover);
  }

  &-filter:not(.disabled):hover {
    filter: drop-shadow(0 0 1em var(--color-hover-filter));
    transform: scale(var(--filter-scale));
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-text-disabled);
  }

  &.circle {
    border-radius: 50%;
    padding: 0.6rem;
  }

  &-danger:not(.disabled) {
    color: var(--color-danger);

    &:not(.plain) {
      color: #fff;
      background-color: var(--color-danger);
    }

    &.#{$class-name}-filter:not(.disabled):hover {
      border-color: var(--color-hover-danger-hover);
      background-color: var(--color-hover-danger-hover);
      filter: drop-shadow(0 0 8px var(--color-hover-danger-filter));
      transform: scale(var(--filter-scale));
    }

    &.plain.#{$class-name}-filter:not(.disabled):hover {
      filter: drop-shadow(0 0 10px var(--color-danger));
      transform: scale(var(--filter-scale));
      color: var(--color-text-reverse);
      background-color: var(--color-danger);
    }
  }

  &-danger:not(.disabled):hover {
    border-color: var(--color-danger);
    color: #fff;
  }

  &.plain {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
