$class-name: "alley-button";

.#{$class-name} {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-backgroud-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--button-text-color);
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(.disabled):hover {
    border-color: var(--button-hover-color);
    color: var(--hover-color);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--text-disabled-color);
  }

  &.circle {
    border-radius: 50%;
    padding: 0.6rem;
  }

  &.danger:not(.disabled):hover {
    color: var(--danger-color);
    border-color: var(--danger-color);
  }
}
