$class-name: "alley-button";

.#{$class-name} {
  --filter-scale: 1;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-backgroud);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-button-text);
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(.disabled):hover {
    border-color: var(--color-button-hover);
    color: var(--color-hover);
  }

  &-filter:not(.disabled):hover {
    filter: drop-shadow(0 0 1em var(--color-hover-filter));
    transform: scale(var(--filter-scale));
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-text-disabled);
  }

  &.circle {
    border-radius: 50%;
    padding: 0.6rem;
  }

  &.danger:not(.disabled):hover {
    color: var(--color-danger);
    border-color: var(--color-danger);
  }
}
