.list {
  width: 100%;
  padding: 0 10px;

  &-header {
    text-align: center;
    color: var(--color-weak);
    font-size: var(--font-size-5);
  }

  &-item {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    box-shadow: 0 1px 7px 0 var(--color-shadow);
    border-radius: var(--border-radius-lg);
    margin: 10px 0;
    flex-wrap: wrap;
    background-color: var(--color-background);

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      &-avatar {
        --width: 36px;
        --height: var(--width);
        min-width: var(--width);
        background-color: var(--color-avatar-backgroud);
        width: var(--width);
        height: var(--height);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: var(--color-avatar);
        margin-left: 5px;
      }

      &-texts {
        padding: 0 5px;
        flex-grow: 8;
        text-align: left;
      }

      &-title {
        font-size: 1rem;
        line-height: calc(1rem + 4px);
        // font-weight: bold;
        word-wrap: break-word;
        word-break: break-all;
      }

      &-description {
        font-size: var(--font-size-3);
        color: var(--color-weak);
      }

      &-extra {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-3);
        color: var(--color-weak);
      }
    }

    &__foot {
      margin-top: 4px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
