$base: ".result";

#{$base} {
  padding: 32px 12px;
  background-color: var(--color-background);

  &-icon {
    font-size: 52px;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    margin: 0 auto 20px;
    padding: 6px;
  }

  &-title {
    color: var(--color-text);
    font-size: var(--font-size-10);
    line-height: 1.4;
    text-align: center;
  }

  &-description {
    margin-top: 8px;
    color: var(--color-weak);
    font-size: var(--font-size-7);
    line-height: 1.4;
    text-align: center;
  }

  &-full-screen {
    padding: 0;
    margin: 0;
    // background-color: red;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#{$base}-error {
  #{$base}-icon {
    color: var(--color-danger);
  }
}
