.error-block {
  --color: var(--color-text);
  --image-height: var(--error-block-image-height, 100px);
  --image-height-full-page: var(--error-block-image-height-full-page, 200px);
  --image-width: var(--error-block-image-width, auto);
  --image-width-full-page: var(--error-block-image-width-full-page, auto);
  box-sizing: border-box;
  text-align: center;

  &-full-page {
    padding-top: calc(50vh - var(--image-height-full-page));

    &-image {
      height: var(--image-height-full-page);
      width: var(--image-width-full-page);
    }

    &-description {
      margin-top: 20px;
      font-size: var(--font-size-main);

      &-title {
        font-size: 20px;
        color: var(--color-text);
      }
    }
  }

  &-image {
    height: var(--image-height);
    width: var(--image-width);
    max-width: 100%;

    svg {
      height: 100%;
    }
  }

  &-description {
    font-size: var(--font-size-4);
    color: var(--color-weak);
    line-height: 1.4;
    margin-top: 12px;

    &-title {
      font-size: var(--font-size-7);
    }

    &-subtitle {
      margin-top: 8px;
    }
  }
}
