.grid {
  --gap-horizontal: var(--gap);
  --gap-vertical: var(--gap);
  display: grid;
  column-gap: var(--gap-horizontal);
  row-gap: var(--gap-vertical);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  align-items: stretch;
  color: var(--color-text);

  &-item {
    grid-column-end: span var(--item-span);
  }
}
