.col {
  position: relative;
  max-width: 100%;
  min-height: 1px;

  &-1 {
    display: block;
    flex: 0 0 4.166666666666667%;
    max-width: 4.166666666666667%;
  }

  &-2 {
    display: block;
    flex: 0 0 8.333333333333334%;
    max-width: 8.333333333333334%;
  }

  &-3 {
    display: block;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  &-4 {
    display: block;
    flex: 0 0 16.666666666666668%;
    max-width: 16.666666666666668%;
  }

  &-5 {
    display: block;
    flex: 0 0 20.833333333333336%;
    max-width: 20.833333333333336%;
  }

  &-6 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
  }

  &-7 {
    display: block;
    flex: 0 0 29.166666666666668%;
    max-width: 29.166666666666668%;
  }

  &-8 {
    display: block;
    flex: 0 0 33.333333333333336%;
    max-width: 33.333333333333336%;
  }

  &-9 {
    display: block;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  &-10 {
    display: block;
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
  }

  &-11 {
    display: block;
    flex: 0 0 45.833333333333336%;
    max-width: 45.833333333333336%;
  }

  &-12 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }

  &-13 {
    display: block;
    flex: 0 0 54.166666666666664%;
    max-width: 54.166666666666664%;
  }

  &-14 {
    display: block;
    flex: 0 0 58.333333333333336%;
    max-width: 58.333333333333336%;
  }

  &-15 {
    display: block;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  &-16 {
    display: block;
    flex: 0 0 66.66666666666667%;
    max-width: 66.66666666666667%;
  }

  &-17 {
    display: block;
    flex: 0 0 70.83333333333333%;
    max-width: 70.83333333333333%;
  }

  &-18 {
    display: block;
    flex: 0 0 75%;
    max-width: 75%;
  }

  &-19 {
    display: block;
    flex: 0 0 79.16666666666667%;
    max-width: 79.16666666666667%;
  }

  &-20 {
    display: block;
    flex: 0 0 83.33333333333334%;
    max-width: 83.33333333333334%;
  }

  &-21 {
    display: block;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  &-22 {
    display: block;
    flex: 0 0 91.66666666666667%;
    max-width: 91.66666666666667%;
  }

  &-23 {
    display: block;
    flex: 0 0 95.83333333333334%;
    max-width: 95.83333333333334%;
  }

  &-24 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
