.header {
  margin-top: 10px;
  width: 100vw;

  .directory-button-label {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .directory-entry {
    max-width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;

    >div {
      display: flex;
    }

    &:hover {
      color: var(--color-hover);
      text-decoration: none;
    }

    span {
      max-width: 100%;
      overflow-wrap: break-word;
      white-space: normal;
    }
  }
}

.qr-code {
  margin: 10px 0;
}

.receive-file-list {
  flex-grow: 14;
  overflow-y: auto;
  max-width: 100vw;
  margin: 5px;
  padding: 10px;
  border: 1px #666 dashed;
  border-radius: 10px;

  &-empty {
    width: 100vw;
  }

  &-item {
    max-width: 100vw;
    list-style-type: none;

    &:not(:first-child) {
      margin-top: 8px;
    }

    .row {
      padding: 4px 0;
      align-items: center;
    }

    .receiving>div {
      color: #000;
    }

    .done>div {
      color: #fff;
    }

    .col {
      display: flex;
      align-items: center;
      min-height: 18px;
    }

    .filename {
      white-space: normal;
      word-break: break-all;
      justify-content: start;

      &>a {
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: var(--color-hover);
        }
      }
    }

    .speed,
    .filesize {
      justify-content: end;
      text-align: right;
    }

    .progress-bar {
      width: calc(100% + 10px);
      height: 100%;
      left: -5px;
    }

    .ant-progress-line {
      margin-inline-end: 0;
    }
  }
}

.send-link {
  white-space: normal;
  word-wrap: normal;
  padding: 4px;
}
