.receive-header {
  margin-top: 10px;
  width: 100vw;
  padding-bottom: 5px;
  box-shadow: 3px 16px 2px -15px rgba(0, 0, 0, 0.22);

  &-label {
    display: flex !important;
    justify-content: right;
    align-items: center;

    &-text {
      font-size: 0.8rem;
      color: var(--alley-color-weak);
      font-weight: bold;
    }
  }

  &-directory-entry {
    max-width: 100%;
    padding-left: 0;
    display: flex !important;
    justify-content: start;
    align-items: center;
    cursor: pointer;

    >div {
      display: flex;
    }

    span {
      max-width: 100%;
      overflow-wrap: break-word;
      white-space: normal;
    }
  }
}

.receive-file-list {
  flex-grow: 14;
  overflow-y: auto;
  max-width: 100vw;
  margin: 5px;
  padding: 0 10px;

  &-empty {
    width: 100vw;
  }

  &-item {
    max-width: 100vw;
    list-style-type: none;

    &:not(:first-child) {
      margin-top: 8px;
    }

    .row {
      padding: 4px 0;
      align-items: center;
    }

    .col {
      display: flex;
      align-items: center;
      min-height: 18px;
    }

    .filename {
      white-space: normal;
      word-break: break-all;
      justify-content: start;

      .label {
        font-weight: normal;
        font-size: var(--alley-font-size-sm);
        margin-right: 4px;
        color: var(--color-weak);
        text-shadow:
          0.1px 0.1px 0.1px var(--alley-color-weak),
          -0.1px -0.1px 0.1px var(--alley-color-light);
      }
    }

    .speed,
    .filesize {
      justify-content: end;
      text-align: right;
    }

    .done {
      color: var(--alley-color-success);
      margin-right: 10px;
      font-size: var(--alley-font-size-8);
    }
  }
}
