.flex {
  display: flex;

  &__horizontal {
    flex-direction: row;
  }

  &__vertical {
    flex-direction: column;
  }

  &__justify {
    &-center {
      justify-content: center;
    }

    &-start {
      justify-content: start;
    }

    &-end {
      justify-content: end;
    }
  }

  &__align {
    &-center {
      align-items: center;
    }

    &-start {
      align-items: start;
    }

    &-end {
      align-items: end;
    }
  }
}
