.send {
  padding: 10px;
  width: 100%;

  &-header {
    height: 31px;
    line-height: 31px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
    box-shadow: 3px 16px 2px -15px rgba(0, 0, 0, 0.22);
  }

  .file-list {
    width: 100%;
    flex-grow: 14;
    margin-bottom: 10px;
    overflow-y: auto;

    .alley-list {
      flex: 1;
    }

    .tooltip {
      max-width: 250px;
    }

    &-empty {
      border: 1px #999 dashed;
      border-radius: 15px;
    }

    &:hover {
      border-color: var(--color-hover);
    }

    .delete-file {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}
