.send {
  padding: 10px;
  flex: 1;

  &-header {
    height: 31px;
    line-height: 31px;
    margin-bottom: 5px;
  }

  .file-list {
    width: 100%;
    border: 1px #999 dashed;
    border-radius: 15px;
    flex-grow: 14;
    margin-bottom: 10px;
    overflow-y: auto;

    &:hover {
      border-color: var(--color-hover);
    }

    .link {
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: var(--color-danger);
      }
    }
  }
}
