.file-list-container {
  padding: 10px;
  height: calc(100vh - 20px);

  .file-list {
    border: 1px dashed #b8b8b8;
    border-radius: 10px;
    overflow-y: auto;

    &:hover {
      border: 1px dashed var(--ant-color-primary);
    }

    .delete-button {
      color: #b8b8b8;

      &:hover {
        color: red;
      }
    }

    .ant-list-item-meta {
      align-items: center;
    }

    h4 {
      white-space: normal;
      word-wrap: break-word;
    }
  }
}
