:root {
  --about-backgroud-color: #eaeced;

  background-color: var(--about-backgroud-color) !important;
}

#about {
  height: 100vh;

  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}

.dark {
  --about-backgroud-color: var(--alley-color-bg);
}
