#root {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  overflow: hidden;

  .dark-switch {
    position: fixed;
    right: 20px;
    top: 10px;
  }
}

#index {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 3rem;

  .alley-button.fill {
    width: 100%;
  }
}
