.container {
  margin: 0;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.index {
  padding: 0 10vh;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
