:root {
  --color-scrollbar: rgba(0, 0, 0, 0.1);
  --color-scrollbar-hover: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}

::-webkit-scrollbar-track {
  background-color: #fff0;
}

.dark {
  --color-scrollbar: rgba(255, 255, 255, 0.1);
  --color-scrollbar-hover: rgba(255, 255, 255, 0.2);
}
