.link {
  color: var(--color-text);
  cursor: pointer;
  font-family: var(--font-monospace);
  text-decoration: underline;

  &:hover {
    color: var(--color-primary);
    text-decoration: none;
  }

  &-filter:hover {
    text-shadow: 0 0 1px var(--color-hover-filter);
    word-break: break-all;
  }

  &-wrap {
    word-break: break-all;
  }
}
